@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

header>nav>img {
    border-radius: 30px;
    object-fit: contain;
}

:root {
    --clr-navy: #34495e;
    --primary-clr: #6563ff;
    --secondary-clr: #c4c3fc;
    --light-line: #e4e2ed;
    --cell-width: 22px;
    --light-text: #686673;
    --light-dot: #adaac0;
}

body {
    width: 100vw;
    height: 100svh;
    /* overflow: hidden; */
    position: relative;

}



.template {
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100%;
    max-width: 1200px;
    margin: auto;
}

header {
    position: relative;
}

header .guide-toggle {
    display: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #779797;
    position: relative;
    z-index: 2;
}

#logo {
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    color: white;
    text-transform: capitalize;
    padding: 16px 0;
    white-space: nowrap;
}

#logo:hover {
    color: var(--secondary-clr);
}

nav {
    padding: 0 2vw;
}

.nav-menu {
    display: flex;
    align-items: center;
}

.nav-menu a {
    color: white;
}

.nav-menu>li>a {
    display: inline-block;
    padding: 8px 16px;
    font-weight: 600;
    font-size: 14px;
    white-space: nowrap;
}

.nav-menu>li>a.active {

    background-color: #0d4e4e;
}


.nav-menu>li>a:hover {
    color: var(--secondary-clr);
}

.nav-menu>li>a.active:hover {
    color: white;
}

/* -------------- dropbox -------------------- */
.drop-box {
    position: relative;
}

.drop-box .drop-toggle {
    display: flex;
    align-items: center;
}

.drop-box .drop-menu {
    display: none;
    position: absolute;
    right: 0;
    z-index: 10;
    background-color: #6bb7b4;
    width: max-content;
    min-width: 130px;
    font-size: 14px;
    border-radius: 8px;
    padding: 4px;
    top: calc(100% + 14px);
}

.drop-box .drop-menu.active {
    display: block;
}

.drop-menu a {
    display: inline-block;
    width: 100%;
    border-radius: 4px;
    padding: 6px 4px;
    margin-bottom: 1px !important;
}

.drop-menu a.active,
.drop-menu a:hover {
    background-color: #0d4e4e;
}

.drop-menu a:last-child {
    margin-bottom: 0;
}



/* =========== guide =========== */
.guide {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    border-bottom: 1px solid var(--light-line);
    margin-bottom: 16px;
    box-shadow: 0px 8px 9px hsla(0, 0%, 0%, 0.1);

}

.guide li {
    display: flex;
    align-items: center;
    gap: 4px;
}

.guide li .symbol {
    aspect-ratio: 1;
    width: 20px;
    display: inline-block;
}

.guide li .text {
    white-space: nowrap;
    align-items: center;
    font-size: 14px;
}



/* ============= board ===================== */
#board {
    touch-action: none;
    touch-action: none;
    overflow: auto;
}

#board::-webkit-scrollbar {
    display: none;
}


#board .row {
    width: 100%;
    display: flex;
}

#board .row .col {
    width: 100%;
    min-width: var(--cell-width);
    aspect-ratio: 1;
    border: 1px solid var(--light-line);
    background-color: var(--cell-clr);
}

#board .row .col.wall {
    border-color: var(--clr-navy);
}



@media screen and (max-width: 1024px) {
    nav {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .nav-menu {
        grid-column: 1/-1;
    }

    .btn {
        justify-self: start;
    }
}


@media screen and (max-width: 662px) {
    #visualize {
        justify-self: end;
        grid-column: 3/-1;
        width: 100%;
        padding: 12px 0;
        margin-top: 8px;
        margin-bottom: 12px;
        min-width: 180px;
    }

    .card {
        margin: 0;
    }

    .card .bottom .btn {
        padding: 12px 24px;
        font-size: 14px;
    }

    #logo {
        grid-column: 1/2;
        font-size: 16px;
        padding: 10px 0;
    }

    .nav-menu {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 10px;
    }

    .nav-menu li a {
        width: 100%;
        font-size: 12px;
        padding: 8px 4px;
    }

    .guide li .symbol {
        width: 12px;
    }

    .guide li .text {
        font-size: 12px;
    }

    .guide {
        width: 100%;
        position: absolute;
        background-color: white;
        bottom: 0px;
        margin-bottom: 0;
        z-index: 1;
        transition: .3s cubic-bezier(0.72, -0.01, 0.31, 0.98);
        box-shadow: none;
    }

    .guide.active {
        transform: translateY(100%);
        box-shadow: 0px 8px 9px #49488549;
    }

    header .guide-toggle {
        display: block;
        box-shadow: 0px 0px;
        position: absolute;
        width: 30px;
        aspect-ratio: 1;
        background-color: white;
        cursor: pointer;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 10;
    }

}

#pixel .drop-menu {
    left: 0;
}